

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
header{
  text-align: center;
  background: #5BC0BE;
  margin: 0;
  padding: 2px;
  color: white;
  border-bottom: 5px solid rgb(67, 67, 67);
}
img{
  position: absolute;
  left: 20px;
  top: 12px;
  width: 50px;
  height: 50px;
  margin-right: 10vw;
}

h2{
  text-align: center;
  margin: 20px;
  font-weight: 200;
  text-decoration: underline;
}

@media(max-width: 700px){
  h1{
    font-size: 22px;
  }
  img{
    display: none;
  }
}
.tickets{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1000px;
}

.singleTicket{
  width: 100%;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.55);
  background: rgba(218, 218, 218, 0.269);
  border-radius: 10px;
  padding: 10px;
}