
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
header{
  text-align: center;
  background: #5BC0BE;
  margin: 0;
  padding: 2px;
  color: white;
  border-bottom: 5px solid rgb(67, 67, 67);
}
.logo{
  position: absolute;
  left: 20px;
  top: 12px;
  width: 50px;
  height: 50px;
  margin-right: 10vw;
}

h2{
  text-align: center;
  margin: 20px;
  font-weight: 200;
  text-decoration: underline;
}

@media(max-width: 700px){
  h1{
    font-size: 22px;
  }
  img{
    display: none;
  }
}
.tickets{
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1000px;
}

.tiphistory{
  width: 70%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  height: 200px;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.009);
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

.tip{
  width: 90%;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-left: 10px solid rgba(0, 0, 0, 0.55);
  background: rgba(218, 218, 218, 0.269);
  border-radius: 10px;
  padding: 10px;
}

.singleTicket{
  width: 100%;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-left: 10px solid rgba(0, 0, 0, 0.55);
  background: rgba(218, 218, 218, 0.269);
  border-radius: 10px;
  padding: 10px;
}

.fullUser{
  background: rgba(0, 0, 0, 0.666);
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.fullUserInfo{
  top: 0;
  margin: 70px auto;
  width: 80%;
  padding: 10px;
  background: white;
  position: relative;
}

.fullUserInfo img{
  width: 140px; 
  height: 140px;
  border-radius: 50%;
  position: absolute;
  right: -40px;
  top: -60px;
  border: 4px solid rgb(21, 131, 129);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.256);
}

.singleTicketFullAcc{
  width: 80%;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-left: 10px solid rgba(0, 0, 0, 0.55);
  background: rgba(218, 218, 218, 0.269);
  border-radius: 10px;
  padding: 0 10px;
}
.homeBTN{
  text-align: center;
  text-decoration: none;
  display:block;
  padding: 10px;
  margin: 10px;
  color: white;
  background: rgb(21, 131, 129);
}

.subPaymentButton{
  width: 125px;
  height: 30px;
  background: rgb(21, 131, 129);
  color: white;
  margin-right: 10px;
  cursor: pointer;
}